<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="master/master :: head">
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body style="background-color: gold">

	<header th:replace="master/master :: header"></header>

	<div class="container">

		<hr style="background-color: gold" />
		<div
			style="font-size: 28px; color: black; font-weight: 60; font-family: fantasy;">Lista
			de Usuarios</div>
		<hr style="background-color: black; font-weight: 20" />
		<hr style="background-color: gold" />


		<div>
			<div class="table-responsive">
				<table class="table table-white"  border=2
					style="background-color: white">

					<thead align="center">
						<tr>
							
							<th>Rol</th>
							<th>Nombre</th>
							<th>Apellido</th>
							<th>Usuario</th>
							<th>Contraseña</th>
							<th>Fecha de Registro</th>
							<th>Fecha de Nacimiento</th>
							<th>Correo</th>
						</tr>

					</thead>
					<tbody>
						<tr th:each="e:${listaUsuarios}">
							
							<td th:text="${e.rol.tipoRol}" align="center"></td>
							<td th:text="${e.nombre}" align="center"></td>
							<td th:text="${e.apellido}" align="center"></td>
							<td th:text="${e.username}" align="center"></td>
							<td th:text="${e.contrasena}" align="center"></td>
							<td th:text="${#dates.format(e.fechaRegistro,'dd/MM/yyyy')}" align="center"></td>
							<td th:text="${#dates.format(e.fechaNacimiento,'dd/MM/yyyy')}" align="center"></td>
							<td th:text="${e.correoUsuario}"></td>

						</tr>



					</tbody>





				</table>



			</div>

		</div>
	</div>

</body>
</html>