<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="master/master :: head">
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	
	<header th:replace="master/master :: header"></header>

	<div class="container">
	
		<hr style="background-color: #fdfdfd;" />
		<div>Lista de Clasificaciones</div>
		<hr style="background-color: #fa251b;" />
		<hr style="background-color: #fdfdfd;" />
	
	
		<div>
			<div class="table-responsive">
				<table class="table table-white">

					<thead>
						<tr>
							<th>Id</th>
							<th>Tipo</th>
							<th>Apto para</th>
							<th>Operación</th>
							<th>Operación</th>
						</tr>

					</thead>
					<tbody>
						<tr th:each="a:${listaClasificaciones}">
							<td th:text="${a.idClasificacion}"></td>
							<td th:text="${a.tipoClasificacion}"></td>
							<td th:text="${a.aptoPara}"></td>

							<td><a th:href="@{/clasificaciones/eliminar?id=}+${a.idClasificacion}">Eliminar
							</a></td>
							
							<td><a th:href="@{'/clasificaciones/irmodificar/'+${a.idClasificacion}}">Actualizar
							</a></td>
						</tr>

						

					</tbody>





				</table>



			</div>

		</div>
	</div>

</body>
</html>