<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="master/master :: head">
<meta charset="UTF-8">
</head>
<body>

	<header th:replace="master/master :: header"></header>

	<div class="container">

		<div>

			<form th:action="@{/calificaciones/modificar}" th:object="${ca}"
				method="post">

				<div class="col-sm-12">

					<label class="form-label">Id:</label> <input type="text"
						th:field="*{idCalificacion}" class="form-control"></input>
				</div>

				<div class="col-sm-12">

					<label class="form-label">Número de Estrellas:</label> <input
						type="text" th:field="*{numEstrellas}" class="form-control"></input>
				</div>
			</form>
		</div>

		<div class="col-sm-12">

			<input type="submit" value="Actualizar" class="btn btn-dark"></input>

		</div>

	</div>

</body>
</html>