<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="master/master :: head">
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body style="background-color: gold">

	<header th:replace="master/master :: header"></header>

	<div class="container">


		<hr style="background-color: gold" />
		<div
			style="font-size: 28px; color: black; font-weight: 60; font-family: fantasy;">Lista
			de Reseñas</div>
		<hr style="background-color: black; font-weight: 20" />
		<hr style="background-color: gold" />
		
		<div>
			<div class="table-responsive">
				<table class="table table-white"  border=2
					style="background-color: white">

					<thead align="center">
						<tr>
							<th>Id</th>
							<th>Mensaje</th>
							<th>Operación</th>
							<th>Operación</th>
						</tr>

					</thead>
					<tbody>
						<tr th:each="a:${listaResenas}">
							<td th:text="${a.idResena}" align="center"></td>
							<td th:text="${a.mensaje}" align="center"></td>

							<td><a th:href="@{/resenas/eliminar?id=}+${a.idResena}" align="center">Eliminar
							</a></td>

							<td><a th:href="@{'/resenas/irmodificar/'+${a.idResena}}" align="center">Actualizar
							</a></td>
						</tr>



					</tbody>





				</table>



			</div>

		</div>
	</div>

</body>
</html>